html {
  height:100%;
}
body {
  font-family: "proxima-nova","Helvetica Neue",Arial,sans-serif;
  background-color: #EFF0F1;
  background-image: linear-gradient(to bottom,#F8F8F9, #EFF0F1);
  color: #1B2432;
  font-size: 14px;
  overflow: hidden;
  box-sizing: border-box;
}
html, body {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  text-rendering: optimizeLegibility;
  padding: 0;
  margin: 0;
}
